
body {
    display: flex;
    justify-content: center;
    background-color: blue;
    margin: auto; 

    animation-name: textColorChange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#main {
    border: 50px dotted black;
    width: auto;
    height: 1000px;
    background-color: black;

    
}

#header {
    height: 100px;
    padding-top: 10px;
    text-align: center; 
    
}

#nav-bar {
    height: 150px;
    text-align: center;
    border: 1px solid;
    margin: auto;
   
}

.nav-btn {
    padding: 75px;
    display: inline-block; 
}

#content {
    text-align: center;
    height: auto; 
    width: 850px;
    margin: 50px;
}

@keyframes textColorChange {
     from { color: blue; }
    to { color: red; }
    
}